.card-header
{
  background-color: #ff7900 !important;
  height: 44px !important;
}
.card{
  border: 1px solid #FF7900 !important;
  border-left-width: unset !important;
  border-top: thick !important;
}
.shadow {
  box-shadow: 0 0.5rem 1rem #b7a884 !important;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: rgb(238, 233, 159);
}
.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
  background-color: rgb(201, 241, 201);
}
.header-style{
color: white !important;
background-color:#FF7900 !important;
}
.input-label{
  display:flex;
  flex-direction: row;
}

.label-style{
  margin-right: 19px;
  margin-top: 13px;
}
.label-comment{
  margin-right: 54px;
}
.card-size {
  width: 84%;
  max-height: 85vw;
  object-fit: cover;
  margin: auto;
}
.container{
  max-width:1161px !important;
  max-block-size: 60% !important;
}
.header{
  margin: auto;
}
.align-items-center {
  align-items: center !important;
  margin-left: 185px;
}
.line{
  max-width: 56%;
  margin-top: 5px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #ff7700; 
}

.custom-source{
  margin-left: 58px !important  ;
}
.btn-primary {
  color: #fff;
  background-color: #FF7900;
  border-color: #FF7900;
}